.atc_bar {
  width: 500px;
}

.attach_content {
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 10px;
}

.atc_images {
  float: left;
  height: 120px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100px;
}

.atc-wrap {
  clear: both;
  float: left;
  height: 130px;
  position: relative;
  width: 130px;
}

.atc_info {
  float: left;
  padding: 10px;
  text-align: left;
  width: 345px;
}

.atc_title {
  display: block;
  font-size: 14px;
}

.atc_url {
  display: block;
  font-size: 10px;
}

.atc_desc {
  font-size: 12px;
}

.atc_total_image_nav {
  float: left;
  padding-left: 20px;
}

.atc_total_images_info {
  float: left;
  font-size: 12px;
  padding: 4px 10px;
}

.parser-img-container {
  height: 120px;
}

